@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Manrope&family=Plus+Jakarta+Sans&family=Poppins&family=Raleway&family=Work+Sans&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-twilight&languages=clike+javascript+bash+solidity+typescript */
code[class*=language-],pre[class*=language-]{color:#fff;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;text-shadow:0 -.1em .2em #000;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}:not(pre)>code[class*=language-],pre[class*=language-]{background:#141414}pre[class*=language-]{border-radius:.5em;border:.3em solid #545454;box-shadow:1px 1px .5em #000 inset;margin:.5em 0;overflow:auto;padding:1em}pre[class*=language-]::-moz-selection{background:#27292a}pre[class*=language-]::selection{background:#27292a}code[class*=language-] ::-moz-selection,code[class*=language-]::-moz-selection,pre[class*=language-] ::-moz-selection,pre[class*=language-]::-moz-selection{text-shadow:none;background:hsla(0,0%,93%,.15)}code[class*=language-] ::selection,code[class*=language-]::selection,pre[class*=language-] ::selection,pre[class*=language-]::selection{text-shadow:none;background:hsla(0,0%,93%,.15)}:not(pre)>code[class*=language-]{border-radius:.3em;border:.13em solid #545454;box-shadow:1px 1px .3em -.1em #000 inset;padding:.15em .2em .05em;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#777}.token.punctuation{opacity:.7}.token.namespace{opacity:.7}.token.boolean,.token.deleted,.token.number,.token.tag{color:#ce6849}.token.builtin,.token.constant,.token.keyword,.token.property,.token.selector,.token.symbol{color:#f9ed99}.language-css .token.string,.style .token.string,.token.attr-name,.token.attr-value,.token.char,.token.entity,.token.inserted,.token.operator,.token.string,.token.url,.token.variable{color:#909e6a}.token.atrule{color:#7385a5}.token.important,.token.regex{color:#e8c062}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.language-markup .token.attr-name,.language-markup .token.punctuation,.language-markup .token.tag{color:#ac885c}.token{position:relative;z-index:1}.line-highlight.line-highlight{background:hsla(0,0%,33%,.25);background:linear-gradient(to right,hsla(0,0%,33%,.1) 70%,hsla(0,0%,33%,0));border-bottom:1px dashed #545454;border-top:1px dashed #545454;margin-top:.75em;z-index:0}.line-highlight.line-highlight:before,.line-highlight.line-highlight[data-end]:after{background-color:#8693a6;color:#f4f1ef}

html {
  background-color: #2a2a2a;
  color: white;
  font-family: "IBM Plex Mono", monospace;
}

#breadcrumbs-one {
  background: transparent;
  border-style: solid;
  border-color: #f5f5f5 #e5e5e5 #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

#breadcrumbs-one li {
  float: left;
}

#breadcrumbs-one a {
  padding: 0.7em 1em 0.7em 2em;
  float: left;
  text-decoration: none;
  color: #444;
  position: relative;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #ddd;
  background-image: linear-gradient(to right, #ddd, #f5f5f5);
}

#breadcrumbs-one a.active {
  padding: 0.7em 1em 0.7em 2em;
  float: left;
  text-decoration: none;
  color: white;
  position: relative;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: black;
  background-image: none;
}

#breadcrumbs-one li:first-child a {
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

#breadcrumbs-one a::after,
#breadcrumbs-one a::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

#breadcrumbs-one a::after {
  z-index: 2;
  border-left-color: #f5f5f5;
}

#breadcrumbs-one a::before {
  border-left-color: #ccc;
  right: -1.1em;
  z-index: 1;
}

#breadcrumbs-one a.active::after {
  z-index: 2;
  border-left-color: black;
}

#breadcrumbs-one a.active::before {
  border-left-color: black;
  right: -1.1em;
  z-index: 1;
}

#breadcrumbs-one a.active:hover {
  background: black;
}

#breadcrumbs-one a.active:hover::after {
  border-left-color: black;
}

#breadcrumbs-one .current,
#breadcrumbs-one .current:hover {
  font-weight: bold;
  background: none;
}

#breadcrumbs-one .current::after,
#breadcrumbs-one .current::before {
  content: normal;
}

/* Timeline Css*/

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #cecece;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

/* wrap around content */
.wrap {
  padding: 0px 40px 10px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.wrap::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid #cecece;
  top: 0px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.wrap:nth-child(odd) {
  left: 0;
}

/* Place the container to the right */
.wrap:nth-child(even) {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.wrap:nth-child(odd):before {
  content: " ";
  height: 0;
  position: absolute;
  top: 5px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #201f1f;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #201f1f;
}

/* Add arrows to the right container (pointing left) */
.wrap:nth-child(even):before {
  content: " ";
  height: 0;
  position: absolute;
  top: 5px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #201f1f;
  border-width: 10px 10px 10px 0;
  border-color: transparent #201f1f transparent transparent;
}

/* Fix the circle for containers on the right side */
.wrap:nth-child(even):after {
  left: -13px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 991px) {
  .wrap:nth-child(odd) {
    padding: 0px 40px 10px 0;
  }
  .wrap:nth-child(even) {
    padding: 0px 0px 10px 40px;
  }
}
@media screen and (max-width: 600px) {
  .wrap:nth-child(even),
  .wrap:nth-child(odd) {
    padding: 0px 0 15px 60px;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .wrap {
    width: 100%;
  }

  /* Make sure that all arrows are pointing leftwards */
  .wrap:nth-child(even):before,
  .wrap:nth-child(odd):before {
    left: 50px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .wrap:nth-child(odd)::after,
  .wrap:nth-child(even):after {
    left: 18px;
  }

  /* Make all right containers behave like the left ones */
  .wrap:nth-child(even) {
    left: 0%;
  }
}

.bg-gray-50 {
  background-color: #201f1f;
}

#flowbite-navbar-toggle{
  background-color: aqua;
}

.shrink-0{
  fill: darkgray;
}

/* heading class */
.hover-mb-3:hover {
  margin-bottom: 0.75rem !important; /* You can adjust the margin value as needed */
}

/* scroll to top override */

/* .scroll-to-top{
  left: 0 !important;
  position: relative !important;
  background-color:rgb(46, 44, 44) !important;
  bottom: 0 !important;
} */
